/* Login.css */

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px; /* Adjust this value based on your icon size and spacing */
}

.password-container .toggle-icon {
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust this value based on your icon positioning */
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container input[type="password"] {
    padding-right: 30px; /* Adjust this value based on your icon size and spacing */
}

.password-container input[type="password"] + .toggle-icon {
    right: 0; /* Adjust this value based on your icon positioning */
}
